.chat-controls{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*flex-wrap: wrap;*/
    /*width: 120%;*/
}
.active-user{
    width: 100%;
    /*height: 20px;*/
}
.user-chat,.control-window{
    height: calc(100% - 20px);
    width: 50%;
    display: flex;
    flex-direction: column;
}
.chat-window{
    height: 85%;
    /*width: 150px;*/
    margin: 0 5px 5px;
    border: #00000052 solid 1px;
    border-radius: 2px;
}
.control-window div:last-child{
    height: 85%;
    /*width: 150px;*/
    margin: 0 5px 5px;
    border: #00000052 solid 1px;
    border-radius: 2px;
}
.userchat-controlwindow{
    display: flex;
    flex-direction: row;
    height: 100%;
}